/*******************************************/
/*  font-family: 'Open Sans', sans-serif;  */
/*  font-family: 'Montserrat', sans-serif; */
/*******************************************/
@font-face {
    font-family: 'Tron';
    src: url('fonts/TRON.ttf');
  }

/******************************************/
/* Color Choice: #BFFFFF                  */
/******************************************/

p, a {
    font-family: 'Open Sans', sans-serif;  
}


h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

iframe {
    max-width: 560px;
    max-height: 315px;
}


/******************************************/
/*            HERO SECTION                */
/******************************************/

#cover {
    height: 100vh;
    color: #BFFFFF;
    background: url("../img/tron-legacy.jpg") no-repeat center;
    background-size: cover;
    border-bottom: 2px solid #BFFFFF;
}

#cover h1 {
    font-family: 'Tron', 'Montserrant', sans-serif;
    padding: 14% 0 0 5%;
}


/******************************************/
/*           MEDIA SECTION                */
/******************************************/

.media-section {
    box-sizing: border-box;
    padding-top: 80px;
    background-color: #051F22;
}
.media-section h1 {
    text-align: center;
    color: #BFFFFF;
    margin-bottom: 80px;
}
.media-section h1:after {
    padding-top: 25px;
    content: "";
    width: 90px;
    border-bottom: 5px solid #BFFFFF;
    display: block;
    margin: 0 auto;
}

.media-section p {
    color: #BFFFFF;
    width: 100%;
    text-align: center;
    font-size: 1.3rem;
}

.media-section a:link, .media-section a:visited {
    color: #BFFFFF;
}

.media-section a:hover, .media-section a:active {
    text-decoration: none;
    color: #FFF;
}

.purchase {
    padding-bottom: 40px;
}

.purchase p {
    margin: 60px 0 30px 0;

}

.purchase a:link, .purchase a:visited {
    display: block;
    margin: 0 auto;
    width: 300px;
    padding: 20px;
    border: 1px solid #BFFFFF;
    text-align: center;
    transition: background-color .2s, color .2s;
}

.purchase a:hover, .purchase a:active {
    background-color:#BFFFFF;
    color: #0D3E45;
    font-weight: bold;
}

/******************************************/
/*           MOVIE SECTION                */
/******************************************/

.movie-section {
    padding-top: 80px;
    color: #3d3d3d;
}

.movie-section h1 {
    text-align: center;
}