/*******************************************/
/*  font-family: 'Open Sans', sans-serif;  */
/*  font-family: 'Montserrat', sans-serif; */
/*******************************************/
@font-face {
    font-family: 'Tron';
    src: url('fonts/TRON.TTF');
  }

/******************************************/
/* Color Choice: #BFFFFF                  */
/******************************************/



/******************************************/
/*     COMMON RESOURCES SECTION           */
/******************************************/

p, a {
    font-family: 'Open Sans', sans-serif;  
}


h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}


iframe {
    max-width: 560px;
    max-height: 315px;
}

.link-button {
    font-size: 1.3rem;
}

.link-button:link, .link-button:visited{
    display: block;
    margin: 0 auto;
    width: 300px;
    padding: 20px;
    text-align: center;
    transition: background-color .2s, color .2s;
    text-decoration: none;
}

section {
    box-sizing: border-box;
}

.light-lettering {
    text-align: center;
}

.light-lettering:after {
    padding-top: 40px;
    content: "";
    width: 90px;
    border-bottom: 5px solid #BFFFFF;
    display: block;
    margin: 0 auto;
}

.dark-lettering {
    text-align: center;
    color: #3d3d3d;
    margin-bottom: 80px;
}
.dark-lettering:after {
    padding-top: 40px;
    content: "";
    width: 90px;
    border-bottom: 5px solid #3d3d3d;
    display: block;
    margin: 0 auto;
}

/******************************************/
/*            HERO SECTION                */
/******************************************/

#cover {
    height: 100vh;
    color: #BFFFFF;
    background: url("../img/tron-legacy.jpg") no-repeat center;
    background-size: cover;
    border-bottom: 2px solid #BFFFFF;
}

#cover h1 {
    font-family: 'Tron', 'Montserrant', sans-serif;
    padding: 14% 0 0 5%;
    font-size: 3rem;
}


/******************************************/
/*           MEDIA SECTION                */
/******************************************/

.media-section {
    box-sizing: border-box;
    padding-top: 80px;
    background-color: #D1E7EB;
}

.media-section p {
    color: #3d3d3d;
    width: 100%;
    text-align: center;
    font-size: 1.3rem;
}

.media-section a:link, .media-section a:visited {
    color: #3d3d3d;
}

.media-section a:hover, .media-section a:active {
    text-decoration: none;
    color: #FFF;
}

.purchase {
    padding-bottom: 60px;
}

.purchase p {
    margin: 60px 0 30px 0;

}

.purchase-button:link, .purchase-button:visited {
    border: 1px solid #3d3d3d;
    transition: background-color .2s, color .2s;
}

.purchase-button:hover, .purchase-button:active {
    background-color:#3d3d3d;
    color: #BFFFFF;
    font-weight: bold;
}

/******************************************/
/*           MOVIE SECTION                */
/******************************************/

.movie-section {
    padding: 80px 0px 40px 0;
    color: #BFFFFF;
    background-color: #051F22;
}

.movie-section h2 {
    text-align: center;
}

.movie-section h2:after {
    padding-top: 25px;
    content: "";
    width: 90px;
    border-bottom: 5px solid #BFFFFF;
    display: block;
    margin: 0 auto;
}

.movie-section p {
    text-align: center;
    padding: 30px 0;
    max-width: 60%;
    font-size: 1.3rem;
    line-height: 1.8rem;
    margin: 0 auto;
}

.movie {
    max-width: 560px;
    max-height: 315px;
    margin: 0 auto 60px auto;
}

.quiz-button:link, .quiz-button:visited {
    border: 1px solid #BFFFFF;
    background-color:#051F22;
    color: #BFFFFF;
    font-weight: bold;
}

.quiz-button:hover, .quiz-button:active {
    border: 1px solid #BFFFFF;
    background-color:#BFFFFF;
    color: #051F22;
    font-weight: bold;
}

.quiz {
    margin-bottom: 30px;
}

/******************************************/
/*           FUN FACTS SECTION            */
/******************************************/

.facts-section {
    box-sizing: border-box;
    padding-top: 80px;
    background-color: #D1E7EB;
    border-bottom: 2px solid #BFFFFF;
}

.facts-section h3 {
    text-align:center;
    padding-bottom: 20px;
}
.facts {
    background-color: #E0FFFF;
    padding: 40px 20px 40px 0;
}

.facts-section ul {
    list-style: none;
}

.facts-section ul li {
    padding-top: 20px;
    font-size: 1.3rem;
}

.bottom-image {
    margin-top: 40px;
    max-width: 70%;
}



/******************************************/
/*             FOOTER SECTION             */
/******************************************/

footer {
    height: 50px;
    background-color: #062425;
}




@media (max-width: 600px) {

/******************************************/
/*             MOVIE SECTION              */
/******************************************/

    .movie-section p {
        margin: 0;
        max-width: 100%;
    }

/******************************************/
/*           FUN FACTS SECTION            */
/******************************************/

    .bottom-image {
        max-width: 100%;
    }

}


